<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/responsive/feed.css">
</head>

<body>
    <!--? ========== Start header ========== -->
    <div class="header">
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="" srcset="">
        <a href="/feed" id="ho" class="home">home</a>
        <a href="/profile" id="ho">profile</a>
        <a href="">
            <input type="search" name="" id="" placeholder="search" class="search-bar">
        </a>
        <i class="ri-notification-4-fill bell"></i>
        <a href="/logout" id="ho" class="logout" style="background-color: rgb(192, 33, 33);">logout</a>
        <div class="drop-down">
            <a href="" class="pi">
                <img src="/images/uploads/1708694571912.jpg" alt="" srcset="">
            </a>
        </div>


    </div>
    <!-- ========== End header ========== -->

    <!--? ========== Start image container ========== -->
    <!--? code pin -->
    <div class="container">
        <% posts.forEach(function(elem){%>
            <div class="box">
                <img src="/images/uploads/<%= elem.image%>" alt="image"></a>
                <div class="caption">
                    <span style="font-size: 15px; opacity: 0.6;">@<%=elem.user.username%></span>
                    <%= elem.title%>
                </div>
            </div>
            <% })%>

                <!-- ========== End image container ========== -->


                <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
                <script src="app.js"></script>
</body>

</html>