<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive/register.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="" srcset="">
        <H2>Create New Account</H2>
        <form action="/register" method="post">
            
            <input type="text" placeholder="Username" name="username">
            
            <input type="email" placeholder="Email" name="email">
            <input type="text" placeholder="Contact Num" name="contact">
           
            <input type="password" placeholder="Enter your password" name="password">
            <input type="submit" class="submit" value="Create New Account">

        </form>
        
        <p>By continuing, you agree to Pinterest's<br>
            Terms of Service, Privacy policy.
            
            </p>
            <hr style="width: 50%; margin: auto;margin-top: 20px; margin-bottom: 10px;">
            <a href="/" class="acc"><span style="color: rgb(192, 6, 6);font-weight: bold;">Login</span> existing account</a>
            
        </div>
        
    </div>
</body>
</html>